.scroll 
{max-height: 250px;
    overflow-y: scroll;
}
.message {
	border: 1px solid #000;
	border-radius: .5rem;
	padding: 6px 12px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}
.message#orange {
	background-color: #ff5722b3;
	border-color: #ff5722b3;
	float: left;
	margin-bottom: 5px;
}
.message#grey {
	background-color: #f1f0f0;
	border-color: #f1f0f0;
	float: right;
	color:black;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}
#blockButton {
	white-space: nowrap;
	text-align: center;
  }

  /* Floating Labels */


  .form-label-group {
	margin-bottom: 1rem;
  }
  .form-label-group > label {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    bottom: 17px;
    box-sizing: content-box;
    color: rgb(128, 134, 139);
    direction: ltr;
    display: block;
    font-family: roboto, arial, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
	height: 26px;
    left: 20px;
    line-height: normal;
    max-width: none;
    pointer-events: none;
    position: absolute;
    text-overflow: clip;
	transform-origin: 0px 19px;
	margin-bottom:0;
  }
  
  .form-label-group input::-webkit-input-placeholder {
	color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
	color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
	color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
	color: transparent;
  }
  
  .form-label-group input::placeholder {
	color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    transform: matrix(0.75, 0, 0, 0.75, 0, -29.25);
	height: 19px;
	left: 16px;
	color: #ff7555;
	background-color: rgb(255, 255, 255);
	padding: 0 6px;
	}
	.postedImage img{
		max-height: 100%;
		max-width: 300px;
		display:block;
	}