.scroll 
{max-height: 250px;
    overflow-y: scroll;
}
.message {
	border: 1px solid #000;
	border-radius: 20px;
	padding: 6px 12px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}
.message#orange {
	background-color: #ff5722b3;
	border-color: #ff5722b3;
	float: left;
	margin-bottom: 5px;
}
.message#grey {
	background-color: #f1f0f0;
	border-color: #f1f0f0;
	float: right;
	color:black;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}
#blockButton {
	white-space: nowrap;
	text-align: center;
  }
  .search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}
.search_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}
.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}